controller:
  ingressClass: ${ingress_class}
  service:
    loadBalancerIP: ${ip_address}
  replicaCount: ${replica_count}
%{ if enable_default_tls == true ~}
  config:
    ssl-redirect: "true"
  extraArgs:
    default-ssl-certificate: "${default_tls_secret}"
%{ endif ~}
